.header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 30px auto 0 auto;
    min-width: 430px;
    padding-bottom: 30px;
    border-bottom: solid gray;
    border-bottom-width: thin;
}

.contacts-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.add-contacts-symbol {
    font-size: 100px;
    color: gray;
    line-height: 15px;
    padding: 25px 5px;
}

.add-contacts-symbol:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 15px;
}

.contact-section {
    display: flex;
    width: 95%;
    padding: 20px 2% 20px 20px;
    justify-content: space-between;
}

.contact-section:hover {
    background-color: rgba(168, 164, 164, 0.1);
    cursor: pointer;
    border-radius: 15px;
}

.contact-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.contact-email {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
}

.feature-buttons {
    display: none;
    width: 90px;
    justify-content: space-between;
    margin-top: 5px;
}

.edit-button {
    font-size: 50px;
    color: blue;
    border-radius: 10px;
    height: 35px;
    line-height: 40px;
    /* border-bottom: solid blue thick; */
    transform: scale(-1, 1);
}

.delete-button {
    font-size: 50px;
    color: red;
    border-radius: 10px;
    width: 30px;
    height: 35px;
    line-height: 37px;
}

.edit-button:hover, .delete-button:hover {
    background-color: rgba(30, 255, 0, 0.5);
}

.view-modal {
    display: flex;
    background-color: white;
    margin: auto;
    width: 550px;
    height: 650px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: viewmodalopen;
    animation-duration: 0.5s;
}

.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    align-items: center;
}

.name, .phone-number, .email {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 20px;
}
 
@keyframes viewmodalopen {
    from { opacity: 0 }
    to { opacity: 1 }
}